body{
    background-color: rgb(4, 56, 1);
}

#p1{
    color: bisque;
    text-align: center;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 70vh;
    align-items: center;
}

.item{
    border: 1px solid bisque;
    color: bisque;
    width: 60px;
    height: 60px;
}

.item-1{
    height: 20px;
}

.item-2{
    flex-grow: 2;
}