img{
    padding: 10px;
    float: left;
    width: 300px;
}

#img2{
    padding: 10px;
    float: right;
}

#centro{
    text-align: center;
}

#p1{
    padding-left: 20%;
    padding-right: 20%;
    clear: both;
}