button{
    background-color: blueviolet;
    color: bisque;
    width: 100px;
    border-radius: 5px;
    border-color: blue;

}

button:hover{
    background-color: aqua;
    color: brown;
    border-color: bisque;
}

p:hover{
    background-color: blueviolet;
}

input:focus{
    background-color: red;
    cursor: pointer;
}

li:first-child{
    border: solid blueviolet;
}